@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Akshar:wght@300&family=Josefin+Slab:wght@400&display&family=Roboto:wght@100;300;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Akshar", sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100%;
    font-size: 16px;
    background-color: rgba(167, 169, 108, 0.398);
}
header{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}
.brand{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 70px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: white;
    background-color: rgba(65, 69, 65,0.3);
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
    position: absolute;
    margin-bottom: 25px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 26);
}
.navbar li{
    display: inline-block;
    background-color: coral;
    color: white;
    padding: 12px 18px;
    margin: 10px;    
    text-decoration: none;
}
#catalogo, #search-result{
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 50px;
    width: 100%;

}
.product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

footer{
    background-color: chocolate;
    padding: 40px;
    text-align: center;
}
.section-title{
    font-size: 40px;
    background-color: rgba(0,0,0,0.7);
    color:white;
    padding: 20px 50px;
    display: block;
    width: 80%;
    text-align: center;

}
.section-title-search-result{
    font-size: 25px;
    background-color: rgba(214, 143, 37, 0.826);
    padding: 20px 50px;
    border-radius: 5%;
}
.product{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 450px;
    background-color: rgb(65, 69, 65);
    color: white;
    margin: 20px;
}
.product-name{
    font-size: 18px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    width: 100%;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
.product-code{
    font-size: 14px;
    margin: 5px;
}
.product-price{
    font-size: 20px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    color: goldenrod;
    margin: 10px;
}
.purchase-button{
    margin: 5px;
    padding: 5px;
    background-color: rgb(194, 161, 76);
    border: 0.5px solid goldenrod;
    color: white;
    font-size: 15px;
}
.purchase-button:hover{
    cursor: pointer;
    background-color: rgb(197, 142, 1);
}
.out-of-stock{
    opacity: 0.5;
}
#search-bar{
    display: flex;
    flex-direction: column;
    border: 1.8px solid #414541;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(65,69,65,0.5);
    color: rgb(255, 255, 255);
    width: 270px;
}
#search-bar > div{
    margin-bottom: 20px;
}
#search-bar span{
    background-color: #414541;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: block;
}
.purchase-button{
    margin: 5px;
    padding: 5px;
    background-color: rgb(194, 161, 76);
    border: 0.5px solid goldenrod;
    color: white;
    font-size: 15px;
}
.cart{
    display: flex;
    flex-direction: column;
    border: 1.8px solid #414541;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(65,69,65,0.5);
    color: rgb(255, 255, 255);
    align-items: stretch;
    width: 270px;
}
.cart img{
    display: inline;
}
.cart div{
    background-color: #414541;
}
.cart > span{
    font-size: 20px;
    color: white;
}
#utilities{
    display: flex;
    flex-direction: column;
}
.cart button{
    display: inline;
}
.cart-buttons{
    display: flex;
    flex-direction: row;
}
.range-bar{
    display: flex;
    flex-direction: column;
}
input{
    margin: 8px 0px;
}
#user-identification{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#user-login, #user-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    width: 25%;
    height: 250px;
}
#user-login{
    background-color: #414541;
    color: white
}
#user-create{
    color: white;
    background-color: darkgoldenrod;
}
#user-login > p, #user-create > p{
    text-align: center;
    width: 250px;
    font-size: 25px;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
#user-login > label, #user-create > label{
    font-size: 18px;
}
#user-login > input, #user-create > input{
    height: 25px;
}
#logged-user{
    background-color: chocolate;
    color: white;
    font-size: 30px;
}
#main-section{
    display: flex;
    flex-direction: column;
}
.products-searched-container{
    background: linear-gradient(to bottom, #ffefba, #ffffff);
}
#logged-user-name{
    background-color: rgb(71, 69, 69);
    color:rgb(194, 161, 76);
    font-size: 25px;
    display: inline-block;
    font-style: italic;
}
#logged-user-name > span{
    margin: 15px;
}
.product-img{
    margin: 10px 0px;
}
.product-img:hover{
    cursor: pointer;
}
.w100{
    width: 100%;
}
.d-block{
    display: block;
}
#empty-cart-button{
    margin: 5px;
    padding: 5px;
    background-color: rgb(231, 67, 17);
    color: white;
    font-size: 15px;
    border: none;
}
#empty-cart-button{
    cursor: pointer;
    background-color: rgb(231, 67, 17);
}
.cart-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cart-buttons > span{
    font-size: 20px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gold;
}
.total-price{
    font-size: 20px;
    margin: 5px;
    color: white;
}
#total-price{
    text-align: center;
}